<!DOCTYPE html>
<html>
{% load staticfiles static  %}
<head>
    <title>
        Enter Configuration
    </title>
    <link href="{% static "css/config.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{% static "js/console.js" %}"></script>
    </head>
    <body>
    <div class="labels">
            <div class="label">Pipeline: </div>
    <div class="label">Username: </div>
    <div class="label">Password: </div>
    </div>
    <div  class="form">
            <form id="config" action="/config/" method="post">
    {% csrf_token %}
    {{ configuration_form.non_field_errors }}
    <div class="pipeline_wrapper">
            </div>
    <div class="username_wrapper">
            </div>
    <div class="password_wrapper">
            </div>
    <br><br>
    <div class="button" id="submit">Submit</div>
    </form>
    </div>
    <script src="{% static "js/config.js" %}"></script>

    </body>
</html>