html {
    height: 100%;
}
body{
    background: black;
    font-family: FreeMono, monospace;
    color: #00CC00;
    height: 100%;
    min-height: 100%;
}

.form {
    display: none;
}

.terminal-output {
    color: #F0FFFF;
}

.cmd span {
    color: #F0FFFF;
}

.build_name:nth-child(odd) {
    color: #FF00FF;
}

.build_name:nth-child(even) {
    color: #00FFFF;
}